/* Global Styles */
html{
    font-family: 'Montserrat', sans-serif;
    }

/* Hero Section */
.main-section{
    background-image:linear-gradient(rgb(0, 0, 0, 0.8), transparent),
                url(/src/assets/Image/waterfall2.jpg);
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.logo {
    font-family: 'Handlee', cursive;
}
.main-section h3{
    padding: 5rem;
}
#btn{
    padding: 2rem 2.5rem;
    background: #4c6397;
    border-radius: 2rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
    border-style: none;
}
#btn:hover{
    background: #0d389b;
    color: black;
    font-size: 1.5rem;
}
#btn:focus{
    background: #092872;
    outline-style: solid;
}
.hero h1{
    font-size: 4rem;
}

/* LOCATION SECTION */
#locations{
    min-height: 100vh;
    background:linear-gradient(rgb(0, 0, 0, 0.6), transparent),
                url(/src/assets/Image/new-york2.jpg);
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.locations-head{
    width: 90%;
    margin: auto;
}
.locations-head h2{
    padding: 0.5rem 0rem;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: underline;
}
.locations-head h3 {
    padding: 2rem 0rem;  
}

/* BENEFIT SECTION */
.benefits-head{
   background: #343c44;
   padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}
.benefits-head h1{
    font-size: 3rem;
    font-weight: 900;
}
.benefits-head h3{
    padding: 2rem;
}
.cards{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; 
}
.cards > .card{
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1), 0px 20px 20px rgb(0, 0, 0, 0.1);
    padding: 2rem;
}
.card h4, 
    p{
    font-size: 2rem;
    padding: 2rem;
    line-height: 1.2;
}
 .card  p{
     font-size: 1.5rem;
}

/* CONTACT SECTION */
#contact{
    min-height: 100vh;
    background:linear-gradient(rgb(0, 0, 0, 0.6), transparent), url("/src/assets/Image/water-fall.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form-head > h2{
    padding: 4rem;
    font-weight: 900;
}
.form-wrapper{
    background: rgba(19, 28, 39, 0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
}
.name-form,.email-form{
    text-align: center;
    padding: 4rem;
}
.form-wrapper label{
    margin: 0rem 3rem;
}
.form-wrapper button{
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-wrapper input{
    padding: 1rem 7rem;
}

/* MEDIA SCREENS */
@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }
    .form-wrapper input{
        padding: 1rem 2rem;
    }
    footer{
        text-align: center;
    }
    footer h5{
        padding-bottom: 1.5rem;
    }
    .footer-wrapper{
        width: 100%;
    }
}
    
